@mixin centerCol() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  @mixin centerRow() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .form-container {
    height: 100vh;
    @include centerCol();
  
    .login-form {
      @include centerCol();
      padding: 30px;
      background-color: #ffffff9d;
      backdrop-filter: blur(10px);
      border-radius: 15px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      width: 30%;
  
      label {
        font-size: 1rem;
        color: #333;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        color: #333;
  
        &:focus {
          border-color: #3498db;
          outline: none;
          box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
        }
      }
  
      button {
        padding: 10px 20px;
        font-size: 1rem;
        color: #fff;
        background-color: #3498db;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #2980b9;
        }
      }
    }
  }
  