* {
  margin: 0;
  padding: 0;
  font-family: "Rethink Sans", sans-serif;
}

.btn-auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-auth {
  margin: 0;
}
