* {
  margin: 0;
  padding: 0;
  font-family: "Rethink Sans", sans-serif;
}

body {
  background-image: url("../public/assets/macos-monterey-stock-blue-light-layers-5k-6016x6016-5898.jpg");
  background-size: cover;
}
